body {
	background-color: #C1AB87;
}

/* navbar */
.navbar-default {
    background-color: #ad74e7;
    border-color: #6bcbf0;
}

.nav-tabs {
    background-color: #ad74e7;
    border-color: #6bcbf0;
}

.resize {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.active{
	background-color: #ad74e7;
    border-color: #6bcbf0;
}

.thumbnail{
	background-color: #ad74e7;
    border-color: #6bcbf0;
}

.btn-default{
	background-color: #ad74e7;
    border-color: #6bcbf0;
}




@font-face {
    font-family: CrafyGirls;
    src: url(./crafty_girls/CrafyGirls.ttf);
}


label {
	text-align: center;
	font-family: "Crafty Girls";
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500px;
}
input {
	text-align: center;
	font-family: "Crafty Girls";
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500px;
}

h3 {
	text-align: center;
	font-family: "Crafty Girls";
	font-size: 37px;
	font-style: bold;
	font-variant: normal;
	font-weight: 750px;
}

h4 {
	text-align: left;
	font-family: "Crafty Girls";
	font-size: 24px;
	font-style: bold;
	font-variant: normal;
	font-weight: 750px;
}

p {
	text-align: left;
	font-family: "Crafty Girls";
	font-size: 16px;
	font-style: bold;
	font-variant: normal;
	font-weight: 750px;
}
li {
	text-align: left;
	font-family: "Crafty Girls";
	font-size: 16px;
	font-style: bold;
	font-variant: normal;
	font-weight: 750px;
}
